*.pyc
*~
__pycashe__
spcenv
# на сайте не обязательно используется SQLite
spcdb.sqlite3
# это если такая папка расположена в корневом каталоге (там же, где .git)
/static
# это настройки VSCode
.vscode
# это мои заметки
*.inf
*.ods
# это настройки системы для папки (Mac и Windows)
